.users-body{
    display: flex;
    margin-left: 20px;
    
    padding-bottom: 10px;
    padding-top: 0px;
}
img{
    height: 200px;
    width: 250px;
    margin-right: 10px;
}
button{
    padding: 5px 15px;
    color: white;
    background-color: salmon;
    border: none;
    border-radius: 50px;
}
.name{
    font-size:25px;
    font-weight: 400;
}
.cart{
    
}